
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row">
			<form class="form-horizontal" th:action="@{/book/add}" method="post"
				enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block">
						Cadastro de Produto<span style="font-size: small"></span>
					</legend>


					
					<div class="form-group">
						<label class="col-md-2 control-label" for="title">* Nome</label>

						<div class="col-md-8">
							<input type="text" name="title" class="form-control" id="title"
								th:value="${book.title}" required="required" placeholder="Nome" />
							<span class="help-block"></span>
						</div>
					</div>

					
					<div class="form-group">
						<label class="col-md-2 control-label" for="author">*
							Modelo</label>
						<div class="col-md-8">
							<input type="text" name="author" class="form-control" id="author"
								th:value="${book.author}" required="required"
								placeholder="Modelo" /> <span class="help-block">Modelo do instrumento(ex: stratocaster)</span>
						</div>
					</div>

					
					<div class="form-group">
						<label class="col-md-2 control-label" for="publisher">Marca</label>
						<div class="col-md-8">
							<input type="text" name="publisher" class="form-control"
								id="Marca" th:value="${book.publisher}"
								placeholder="Marca" /> <span class="help-block">Marca do produto</span>
						</div>
					</div>

					
					<div class="form-group">
						<label class="col-md-2 control-label" for="publicationDate">Ano de aquisição</label>
						<div class="col-md-8">
							<input type="date" class="form-control" id="publicationDate"
								name="publicationDate" th:value="${book.publicationDate}"
								placeholder="Ano" /> <span class="help-block"></span>
						</div>
					</div>

					
					<div class="form-group">
						<label class="col-md-2 control-label" for="language">Cor</label>
						<div class="col-md-8">
							<select th:value="${book.language}" id="language" name="language"
								class="form-control">
								<option value="vermelho">Vermelho</option>
								<option value="preto">Preto</option>
                                                                <option value="verde">Verde</option>
                                                                <option value="azul">Azul</option>
                                                                <option value="amarelo">Amarelo</option>
                                                                <option value="amarelo">Laranja</option>
                                                                <option value="cinza">Cinza</option>
                                                                <option value="roxo">Roxo</option>
                                                                <option value="roxo">Prata</option>
                                                                <option value="roxo">Dourado</option>
                                                                <option value="outra">Outra</option>
							</select>
						</div>
					</div>

					
					<div class="form-group">
						<label class="col-md-2 control-label" for="category">*
							Categoria</label>
						<div class="col-md-8">
							<select th:value="${book.category}" id="category" name="category"
								class="form-control">
								<option value="" selected="selected" disabled="disabled">Escolha uma opção</option>
								<option value="Cordas"
									th:selected="(${book.category}=='Management')">Cordas</option>
								<option value="Percussao"
									th:selected="(${book.category}=='Fiction')">Percussão</option>
								<option value="Teclas e Sopro"
									th:selected="(${book.category}=='Engineering')">Teclas e Sopro</option>
								<option value="Audio"
									th:selected="(${book.category}=='Programming')">Áudio</option>
								<option value="Acessorios"
									th:selected="(${book.category}=='Arts &amp; Literature')">Acessórios</option>
							</select>
						</div>
					</div>

					<!--
					<div class="form-group">
						<label class="col-md-2 control-label" for="pageNumber">Pagin</label>

						<div class="col-md-8">
							<input type="number" name="numberOfPages" class="form-control"
								id="pageNumber" th:value="${book.numberOfPages}"
								placeholder="Page Number" /> <span class="help-block">Number
								of pages of the book</span>
						</div>
					</div>

					
					<div class="form-group">
						<label class="col-md-2 control-label" for="format">Format</label>
						<div class="col-md-8">
							<select th:value="${book.format}" id="format" name="format"
								class="form-control">
								<option value="paperback">Paperback</option>
								<option value="hardcover">Hardcover</option>
							</select>
						</div>
					</div>

					
					<div class="form-group">
						<label class="col-md-2 control-label" for="isbn">ISBN</label>

						<div class="col-md-8">
							<input type="text" name="isbn" class="form-control" id="isbn"
								th:value="${book.isbn}" placeholder="ISBN" /> <span
								class="help-block">ISBN of the book</span>
						</div>
					</div>

					-->
					<div class="form-group">
						<label class="col-md-2 control-label" for="shippingWeight">Peso</label>
						<div class="col-md-8">
							<div class="input-group">
								<input th:value="${book.shippingWeight}" type="number" step="0.01"
									name="shippingWeight" class="form-control" id="shippingWeight"
									placeholder="Shipping Weight" /> <span
									class="input-group-addon">Kg</span>
							</div>
							<span class="help-block">Peso do envio do produto</span>
						</div>
					</div>

					
					<div class="form-group">
						<label class="col-md-2 control-label" for="listPrice">Valor de Lista</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${book.listPrice}" type="number" name="listPrice" step="0.01"
									class="form-control" id="listPrice" placeholder="List Price" />
							</div>
							<span class="help-block"></span>
						</div>
					</div>

					
					<div class="form-group">
						<label class="col-md-2 control-label" for="ourPrice">Valor de Venda</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${book.ourPrice}" type="number" name="ourPrice" step="0.01"
									class="form-control" id="ourPrice" placeholder="Our Price" />
							</div>
							<span class="help-block">Valor de Venda pela loja</span>
						</div>
					</div>

					
					<div class="form-group">
						<label class="col-md-2 control-label" for="inStockNumber">Estoque</label>
						<div class="col-md-8">
							<input th:value="${book.inStockNumber}" type="number"
								name="inStockNumber" class="form-control" id="inStockNumber"
								placeholder="Number of in-stock copies" /> <span
								class="help-block">Quantidade em estoque</span>
						</div>
					</div>

					
					<div class="form-group">
						<label class="col-md-2 control-label" for="status">Status</label>
						<div class="col-md-8">
							<label><input value="true" type="radio" name="active"
								checked="checked" /> Ativo </label> <label><input
								value="false" type="radio" name="active" />
								Inativo </label> <span class="help-block"></span>
						</div>
					</div>

					
					<div class="form-group">
						<label class="col-md-2 control-label" for="description">Description</label>
						<div class="col-md-8">
							<textarea name="description" rows="5" class="form-control"
								id="description" th:value="${book.description}"
								placeholder="Description" />
							<span class="help-block">Descrição</span>
						</div>
					</div>

					
					<div class="form-group">
						<div class="col-md-2">
							<label for="bookImage">Escolher imagem...</label>
						</div>
						<div class="col-md-8">
							<input id="bookImage" type="file" name="bookImage"
								th:value="${book.bookImage}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Cadastrar</button>
							<a class="btn btn-danger" th:href="@{/}">Cancelar</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
